

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.about-content img {
    margin: 20px 20px 0 0;
    border: 5px solid #EBE4C7;
    width: 100%;
}

.about-content p {
    margin: 18px 20px 0 0;
}













